/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.content-left-midleitems-footer-icon{
		width 105px
	}
	.main-nav ul li:nth-child(8){
		flex: 0 0 214px;
	}
	.top-menu-color{
		.top-nav ul li a{
	    font: 700 12px Tahoma;
	    padding: 10px 5px;
		}
		.header-cont-number a{
			font-size 38px
		}
	}
	.lsp-block-register .lsp-form{
		width 80%!important
	}
}
