/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header-cont-number{
		a{
			font-size 26px
		}
	}
	.main-nav{
		ul{
			flex-flow column
			li{
				display none
			}
			.nav-toggle-hidden{
				a{
					font-size: 20px;
    			line-height: 60px;
				}
			}
			li:nth-child(8){
				flex auto!important
				display flex!important
			}
		}
	}
	.bars{
		display flex!important
		color white
		font-size 30px
		&:hover{
			cursor pointer
			color green
		}
	}
	.basket-toggle{
		width 100%
	}
	.basket-toggle-item-right{
		margin-left 20px
		display flex-flow
		align-items center
		justify-content center
		width 80px
	}
	.content-left-bigitems-footer-icon,
	.content-left-midleitems-footer-icon{
		width 55px
	}
	.basket-inner{
		justify-content: center!important;
		.circle{
			margin-right 40px
			margin-left 40px
		}
	}
	.basket-toggle-icon{
		display flex!important
	}
	.bonus-cont-right{
		margin-top 100px
	}
	.top-nav{
		ul{
			flex-wrap wrap
		}
	}
	.top-menu-color{
		.fa{
			display inline
		}
	 }
	 .news-block-left img{
	 	margin-left 0px
	 }
}
