/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-cont-number{
		a{
			font-size 26px
		}
	}
	.top-nav{
		ul{
			li{
				a{
					padding 10px 5px
					font-size 12px
				}
			}
		}
	} 
	.contact-phone-separator:after{
		width 5px
		height 5px
	}
	.main-nav{
		.container{
			padding 0px
		}
		ul{
			li{
				&:nth-child(8){
					flex 0 0 225px
				}
				a{
					font-size 10px
					font-weight 400
				}
			}
		}
	} 
	.content-left-select{
		ul{
			justify-content: center;
			flex-wrap wrap
			
		}
	}
	// .content-row{
	// 	display flex
	// 	flex-flow column
	// 	.content-right{
	// 		order 1
	// 	}
	// 	.content-left{
	// 		order 2
	// 	}
	// }
	.content-right{
		display none!important
	}
	.basket-toggle-order,
	.content-right-orderOne-add{
		font-size 16px!important
	}
	.top-menu-color{
		.top-nav ul li {
		    padding: 4px;
		}
		.header-cont-number a{
			font-size 26px
		}
		.fa{
			display none
		}
	}
	.news-block-left img{
		margin 0px
		margin-top 15px
	}
	.footer-jq,
	.foter-phone{
		margin 0 auto
		margin-bottom 20px
	}
	.news-more-top-date{
		margin-bottom 20px
	}
	.vacancy-top-wraper{
		justify-content center
	}
}

